In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [3]:
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [5]:
cars = pd.DataFrame(cars, columns=["HP","VOL","SP","WT","HPG"])
cars.head()

   HP  VOL          SP         WT  HPG
0  49   89  104.185353  28.762059  NaN
1  55   92  105.461264  30.466833  NaN
2  55   92  105.461264  30.193597  NaN
3  70   92  113.461264  30.632114  NaN
4  53   92  104.461264  29.889149  NaN

##Description of columns
- MPG : Mileage of the car (Mile per Gailon) (This is Y-column to be predicted)
- HP : Horse Power of the car (X1 column)
- VOL : Volume of the car (size) (X2 column)
- SP : Top speed of the car (Miles per Hour) (X3 column)
- WT : Weight of the car(Pounds) (X4 column)